STORAGE_S3_KEY=
STORAGE_S3_SECRET=
STORAGE_S3_REGION=
STORAGE_S3_ENDPOINT=s3.amazonaws.com
STORAGE_S3_BUCKET=krakovan-opas
BACKUP_S3_BUCKET=krakovanopas-bckp
DB_CONNECTION_STRING=
# Or Railway-style name:
# DATABASE_URL=
BACKUP_RETENTION_DAYS=30
BACKUP_FILES_ENABLED=true
